/**
 * CSS Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Styles
 */

:root {
    --color-white: hsl(0, 0%, 99%);
    --color-gray-9: hsl(0, 0%, 90%);
    --color-gray-8: hsl(0, 0%, 80%);
    --color-gray-7: hsl(0, 0%, 70%);
    --color-gray-6: hsl(0, 0%, 60%);
    --color-gray-5: hsl(0, 0%, 50%);
    --color-gray-4: hsl(0, 0%, 40%);
    --color-gray-3: hsl(0, 0%, 30%);
    --color-gray-2: hsl(0, 0%, 20%);
    --color-black: hsl(0, 0%, 10%);

    --color-red: hsl(0, 100%, 45%);
    --color-red-light: hsl(0, 100%, 54%);
    --color-red-dark: hsl(0, 100%, 36%);
    --color-orange: hsl(30, 100%, 45%);
    --color-orange-light: hsl(30, 100%, 54%);
    --color-orange-dark: hsl(30, 100%, 36%);
    --color-yellow: hsl(60, 100%, 45%);
    --color-yellow-light: hsl(60, 100%, 54%);
    --color-yellow-dark: hsl(60, 100%, 36%);
    --color-green: hsl(120, 100%, 25%);
    --color-green-light: hsl(120, 100%, 30%);
    --color-green-dark: hsl(120, 100%, 20%);
    --color-teal: hsl(180, 100%, 25%);
    --color-teal-light: hsl(180, 100%, 30%);
    --color-teal-dark: hsl(180, 100%, 20%);
    --color-blue: hsl(240, 100%, 33%);
    --color-blue-light: hsl(240, 100%, 40%);
    --color-blue-dark: hsl(240, 100%, 27%);
    --color-purple: hsl(300, 100%, 25%);
    --color-purple-light: hsl(300, 100%, 30%);
    --color-purple-dark: hsl(300, 100%, 20%);

    --color-primary: var(--color-blue);
    --color-primary-light: var(--color-blue-light);
    --color-primary-dark: var(--color-blue-dark);
    --color-secondary: var(--color-gray-5);
    --color-secondary-light: var(--color-gray-6);
    --color-secondary-dark: var(--color-gray-4);
    --color-disabled: var(--color-gray-8);
    --color-disabled-light: var(--color-white);
    --color-disabled-dark: var(--color-gray-7);

    --color-foreground: var(--color-black);
    --color-foreground-alt-1: var(--color-gray-3);
    --color-foreground-alt-2: var(--color-gray-4);
    --color-background: var(--color-white);
    --color-background-alt-1: var(--color-gray-8);
    --color-background-alt-2: var(--color-gray-7);

    --color-success: var(--color-green);
    --color-success-light: var(--color-green-light);
    --color-success-dark: var(--color-green-dark);
    --color-info: var(--color-teal);
    --color-info-light: var(--color-teal-light);
    --color-info-dark: var(--color-teal-dark);
    --color-warning: var(--color-orange);
    --color-warning-light: var(--color-orange-light);
    --color-warning-dark: var(--color-orange-dark);
    --color-danger: var(--color-red);
    --color-danger-light: var(--color-red-light);
    --color-danger-dark: var(--color-red-dark);

    --border-radius-amount: 0.25rem;
}

.primary {
    --color-background: var(--color-primary);
    --color-background-alt-1: var(--color-primary-dark);
    --color-background-alt-2: var(--color-primary-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.secondary {
    --color-background: var(--color-secondary);
    --color-background-alt-1: var(--color-secondary-dark);
    --color-background-alt-2: var(--color-secondary-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.success {
    --color-background: var(--color-success);
    --color-background-alt-1: var(--color-success-dark);
    --color-background-alt-2: var(--color-success-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.info {
    --color-background: var(--color-info);
    --color-background-alt-1: var(--color-info-dark);
    --color-background-alt-2: var(--color-info-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.warning {
    --color-background: var(--color-warning);
    --color-background-alt-1: var(--color-warning-dark);
    --color-background-alt-2: var(--color-warning-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.danger {
    --color-background: var(--color-danger);
    --color-background-alt-1: var(--color-danger-dark);
    --color-background-alt-2: var(--color-danger-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.red {
    --color-background: var(--color-red);
    --color-background-alt-1: var(--color-red-dark);
    --color-background-alt-2: var(--color-red-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.orange {
    --color-background: var(--color-orange);
    --color-background-alt-1: var(--color-orange-dark);
    --color-background-alt-2: var(--color-orange-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.yellow {
    --color-background: var(--color-yellow);
    --color-background-alt-1: var(--color-yellow-dark);
    --color-background-alt-2: var(--color-yellow-light);
    --color-foreground: var(--color-black);
    --color-foreground-alt-1: var(--color-gray-3);
    --color-foreground-alt-2: var(--color-gray-4);
}

.green {
    --color-background: var(--color-green);
    --color-background-alt-1: var(--color-green-dark);
    --color-background-alt-2: var(--color-green-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.teal {
    --color-background: var(--color-teal);
    --color-background-alt-1: var(--color-teal-dark);
    --color-background-alt-2: var(--color-teal-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.blue {
    --color-background: var(--color-blue);
    --color-background-alt-1: var(--color-blue-dark);
    --color-background-alt-2: var(--color-blue-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);
}

.purple {
    --color-background: var(--color-purple);
    --color-background-alt-1: var(--color-purple-dark);
    --color-background-alt-2: var(--color-purple-light);
    --color-foreground: var(--color-white);
    --color-foreground-alt-1: var(--color-gray-8);
    --color-foreground-alt-2: var(--color-gray-7);

}

html {
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

main {
    padding: 2rem;
    max-width: 60ch;
    margin: 0 auto;
}

main.edit {
    max-width: calc(60ch + 20px);
}

h1 {
    line-height: inherit;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-background-alt-1);
    z-index: 5;
    background-color: var(--color-background);
}

.edit-link {
    font-size: 1rem;
    font-weight: normal;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-background-alt-1);
    border-radius: var(--border-radius-amount);
}

input[type="submit"], button, .button {
    text-decoration: none;
    line-height: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: normal;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-amount);
    cursor: pointer;
    display: inline-block;

    color: var(--color-foreground) !important;
    border-color: var(--color-background-alt-1);
    background-color: var(--color-background);
}

input[type="submit"]:hover, button:hover, .button:hover, input[type="submit"]:active, button:active, .button:active {
    border-color: var(--color-background);
    background-color: var(--color-background-alt-2);
}

h2 {
    line-height: inherit;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h3 {
    line-height: inherit;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h4 {
    line-height: inherit;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

p {
    line-height: inherit;
    margin-bottom: 1em;
    text-align: justify;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    text-decoration: underline;
}

a {
    --color-background: var(--color-primary);
    --color-background-alt-1: var(--color-primary-dark);
    --color-background-alt-2: var(--color-primary-light);
    color: var(--color-background);
}

a:visited, a:active, a:focus {
    color: var(--color-background-alt-1);
}

a:hover {
    color: var(--color-background-alt-2);
}

/* SimpleMDE Overrides */

.CodeMirror {
    background: var(--color-background);
    color: var(--color-foreground);
    border: 1px solid var(--color-background-alt-1);
}

.CodeMirror-fullscreen {
    background: var(--color-background);
}

.editor-toolbar {
    border-top: 1px solid var(--color-background-alt-1);
    border-left: 1px solid var(--color-background-alt-1);
    border-right: 1px solid var(--color-background-alt-1);
    border-top-left-radius: var(--border-radius-amount);
    border-top-right-radius: var(--border-radius-amount);
}

.editor-toolbar.fullscreen {
    background: var(--color-background);
}

.editor-toolbar.fullscreen::before {
    background: var(--color-background);
}

.editor-toolbar.fullscreen::after {
    background: var(--color-background);
}

.editor-toolbar a {
    --color-background: var(--color-gray-9);
    --color-background-alt-1: var(--color-gray-8);
    --color-background-alt-2: var(--color-gray-7);
    color: var(--color-foreground-alt-1)!important;
    border: 1px solid transparent;
    border-radius: var(--border-radius-amount);
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
    background: var(--color-background-alt-1);
    border-color: var(--color-background-alt-2);
}

.editor-toolbar i.separator {
    border-left: 1px solid var(--color-background-alt-1);
    border-right: 1px solid var(--color-background-alt-1);
}

.editor-toolbar a.fa-header-x:after {
    font-family: inherit;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
    opacity: 0.25;
    background: none;
    border-color: transparent;
}

.editor-statusbar {
    color: var(--color-foreground);
}

.editor-preview {
    background: var(--color-background);
}

.editor-preview-side {
    background: var(--color-background);
    border: 1px solid #ddd;
}

.editor-preview pre,
.editor-preview-side pre {
    background: var(--color-background-alt-1);
}

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
    border: 1px solid var(--color-background-alt-1);
}

.CodeMirror .CodeMirror-code .cm-tag {
    color: var(--color-success);
}

.CodeMirror .CodeMirror-code .cm-attribute {
    color: var(--color-primary);
}

.CodeMirror .CodeMirror-code .cm-string {
    color: var(--color-info);
}

.CodeMirror .CodeMirror-selected {
    background: var(--color-background-alt-1);
}

.CodeMirror .CodeMirror-code .cm-comment {
    background: rgba(0, 0, 0, .05);
    border-radius: 2px;
}

.CodeMirror .CodeMirror-code .cm-link {
    color: var(--color-primary);
}

.CodeMirror .CodeMirror-code .cm-url {
    color: var(--color-primary);
}
